site_name: "My Engineering Portfolio"
site_url: "https://vikenparikh.github.io"
docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.sections
    - navigation.instant
    - content.code.copy

extra_css:
  - assets/stylesheets/portfolio.css

repo_url: ""
repo_name: ""

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - footnotes
  - tables

exclude_docs: |
  .unified_docs_manifest.json
